[core]
	symlinks = true
	autocrlf = input
[user]
	name = name
	email = email
	signingkey = ~/.ssh/.key.pub # optional
[init]
	defaultBranch = main

# optional
# https://docs.gitlab.com/ee/user/project/repository/signed_commits/ssh.html
[commit]
	gpgSign = true
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
